*{margin: 0;padding: 0;}
body{margin: 0;padding: 0;}
ul{overflow: hidden;background-color: #1abc9c;padding: 10px;margin: 0px;}
ul li{float: left;list-style: none;margin-left: 20px;font-size: 20px;
}
ul li a{
    color: #ecf0f1;
    text-decoration: none;
    padding: 5px;
}

ul li:hover{
color: #000;}
form{
    width: 40%;
    margin: 10px auto;
    text-align: center;
}

form input,form label{margin-top: 10px;}