<!--The content below is only a placeholder and can be replaced.-->

<nav>
  <ul>
    <li><a routerLink="/first" >First</a></li>
    <li><a routerLink="/other" >Other</a></li>
    <li><a [routerLink]="['/other',{id:984654,name:'ali'}]" >Optional params</a></li>
    <li><a [routerLink]="['/other']" [queryParams]="{id:64646,name:'ahmed',age:21}" >Query params</a></li>
    <li><a routerLink="/new/{{id}}" >New</a></li>
    <li><a [routerLink]="['/new',id]" >New Another way</a></li>
  </ul>
</nav>
<header>
  <button (click)="goToFirst()" >first</button>
  <button (click)="goToNew()" >new</button>
  <button (click)="goToOther()" >other</button>

</header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! Login Now
  </h1>
</div>

<form>
  <label>Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="name"  [(ngModel)]="name" />
  <br/>
  <label>Password</label>
  <input type="password" name="pass" [(ngModel)]="password" />
  <br/>
  <input type="submit" (click)="login()" value="Login"/>

    <p *ngIf="!status ;else error">User name or password incorect</p>
    <ng-template #error>
      <p *ngIf="status" >user logged succesfully</p>
    </ng-template>
</form>



<router-outlet></router-outlet>